<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Document</title>
</head>
<body>
    
    
    {% block nav %}
    {% include "navbar.html" %}
    {% endblock nav %}

    {% block side_nav %}
    {% include "sidenavbar.html" %}
    {% endblock side_nav %}

    {% block home_page %}
    {% endblock home_page %}

    {% block region %}
    {% endblock region %}

    {% block content %}
    {% endblock content %}


    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/style.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    
</body>
</html>