<div class="container-fluid" id="nav-bar-id">
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #081d2e;">
        <a class="navbar-brand" href="#" onclick="openNav()">Navbar</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home_page' %}">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'region' %}">Region</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'asm_report' %}">ASM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'rsm_report' %}">RSM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'arsm_report' %}">ARSM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'drsm_report' %}">DRSM</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
