{% extends  'base.html' %}
{% load static %}


{% block region %}
<div class="container-fluid p-3">
    <form action="" method="get">
        {% csrf_token %}
        {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        {% endfor %}
        <label for="start">Start date:</label>
        <input type="date" id="start" name="start" required>
        <label for="end">End date:</label>
        <input type="date" id="end" name="end" required>
        <input type="submit" value="Click">
    </form>
</div>

<div id="table_id" class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th>RSM Name</th>
                <th>Store Name</th>
                <th>Start Date</th>
                <th>rating</th>
                <th>review</th>
            </tr>
        </thead>
        <tbody>
            {% for start in start_region%}
            <tr>
                <td>{{ start.rsm }}</td>
                <td>{{ start.storename }}</td>
                <td>{{ start.date }}</td>
                <td>{{ start.rating }}</td>
                <td class="first_reviews">{{ start.review }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>RSM Name</th>
                <th>Store Name</th>
                <th>End Date</th>
                <th>Rating</th>
                <th>Review</th>
                <th>Diff</th>
            </tr>
        </thead>
        <tbody>
            {% for start in end_region%}
            <tr>
                <td>{{ start.rsm }}</td>
                <td>{{ start.storename }}</td>
                <td>{{ start.date }}</td>
                <td>{{ start.rating }}</td>
                <td class="second_reviews">{{ start.review }}</td>
                <td class="third_review">{{ Diff }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<style>
    .table{
      float: left;
      width: 50%;
    }
    td {
      border: blue;
    }
    
    
    </style>
{% endblock %}
